<section class="hero-section">
    <div class="banner-cock-one">
        <img src="assets/img/icons/banner-cock1.svg" alt="Banner">
    </div>
    <div class="banner-shapes">
        <div class="banner-dot-one">
            <span></span>
        </div>
        <div class="banner-cock-two">
            <img src="/src/assets/img/icons/banner-cock2.svg" alt="Banner">
            <span></span>
        </div>
        <div class="banner-dot-two">
            <span></span>
            
        </div>
    </div>
    <div class="container">
        <div class="home-banner">
            <div class="row align-items-center w-100">
                <div class="col-lg-7 col-md-10 mx-auto">
                    <div class="section-search aos">
                        <h4>Welcome to the Future of Finance</h4>
                        <h1>Transforming Lives with <span>Digital </span> Microfinance!</h1>
                        <p class="sub-info">Empower Your Financial Future with Smart Microfinance Solutions. </p>
                            <p class="sub-info">  Discover Opportunities to Fund Projects. </p>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>