<!--found in home in the service -->
<section class="section service-section">
  <div class="work-cock-img">
    <img src="assets/img/icons/work-cock.svg" alt="Service" />
  </div>
  <div class="container">
    <div class="section-heading aos">
      <h2>Explore Our <span>Services</span></h2>
      <p class="sub-title">
        Fostering excellence and empowering sports growth through tailored
        services for athletes, coaches, and enthusiasts.
      </p>
    </div>
    <div class="view-all text-center aos">
      <a
        href="services.html"
        class="btn btn-secondary d-inline-flex align-items-center">
        View All Services
        <span class="lh-1"
          ><i class="feather-arrow-right-circle ms-2"></i
        ></span>
      </a>
    </div>
  </div>
</section>
