<footer class="footer">
    <div class="container">
    
    <div class="footer-join aos" data-aos="fade-up">
    <h2>We Welcome Your Passion And Expertise</h2>
    <p class="sub-title">Join our empowering sports community today and grow with us.</p>
    <a href="register.html" class="btn btn-primary"><i class="feather-user-plus"></i> Join With Us</a>
    </div>
    
    
    <div class="footer-top">
    <div class="row">
    <div class="col-lg-2 col-md-6">
    
    <div class="footer-widget footer-menu">
    <h4 class="footer-title">Contact us</h4>
    <div class="footer-address-blk">
    <div class="footer-call">
    <span>Toll free Customer Care</span>
    <p>+017 123 456 78</p>
    </div>
    <div class="footer-call">
    <span>Need Live Suppot</span>
    <p><a href="https://dreamsports.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b2d6c0d7d3dfc1c2ddc0c6c1f2d7cad3dfc2ded79cd1dddf">[email&#160;protected]</a></p>
    </div>
    </div>
    <div class="social-icon">
    <ul>
    <li>
    <a href="javascript:void(0);" class="facebook"><i class="fab fa-facebook-f"></i> </a>
    </li>
    <li>
    <a href="javascript:void(0);" class="twitter"><i class="fab fa-twitter"></i> </a>
    </li>
    <li>
    <a href="javascript:void(0);" class="instagram"><i class="fab fa-instagram"></i></a>
    </li>
    <li>
    <a href="javascript:void(0);" class="linked-in"><i class="fab fa-linkedin-in"></i></a>
    </li>
    </ul>
    </div>
    </div>
    
    </div>
    <div class="col-lg-2 col-md-6">
    
    <div class="footer-widget footer-menu">
    <h4 class="footer-title">Quick Links</h4>
    <ul>
    <li>
    <a href="about-us.html">About us</a>
    </li>
    <li>
    <a href="services.html">Services</a>
    </li>
    <li>
    <a href="events.html">Events</a>
    </li>
    <li>
    <a href="blog-grid.html">Blogs</a>
    </li>
    <li>
    <a href="contact-us.html">Contact us</a>
    </li>
    </ul>
    </div>
    
    </div>
    <div class="col-lg-2 col-md-6">
    
    <div class="footer-widget footer-menu">
    <h4 class="footer-title">Support</h4>
    <ul>
    <li>
    <a href="contact-us.html">Contact Us</a>
    </li>
    <li>
    <a href="faq.html">Faq</a>
    </li>
    <li>
    <a href="privacy-policy.html">Privacy Policy</a>
    </li>
    <li>
    <a href="terms-condition.html">Terms & Conditions</a>
    </li>
    <li>
    <a href="pricing.html">Pricing</a>
    </li>
    </ul>
    </div>
    
    </div>
    <div class="col-lg-2 col-md-6">
    
    <div class="footer-widget footer-menu">
    <h4 class="footer-title">Other Links</h4>
    <ul>
    <li>
    <a href="coaches-grid.html">Coaches</a>
    </li>
    <li>
    <a href="listing-grid.html">Sports Venue</a>
    </li>
    <li>
    <a href="coach-details.html">Join As Coach</a>
    </li>
    <li>
    <a href="coaches-map.html">Add Venue</a>
    </li>
    <li>
    <a href="my-profile.html">My Account</a>
    </li>
    </ul>
    </div>
    
    </div>
    <div class="col-lg-2 col-md-6">
    
    <div class="footer-widget footer-menu">
    <h4 class="footer-title">Our Locations</h4>
    <ul>
    <li>
    <a href="javascript:void(0);">Germany</a>
    </li>
    <li>
    <a href="javascript:void(0);">Russia</a>
    </li>
    <li>
    <a href="javascript:void(0);">France</a>
    </li>
    <li>
    <a href="javascript:void(0);">UK</a>
    </li>
    <li>
    <a href="javascript:void(0);">Colombia</a>
    </li>
    </ul>
    </div>
    
    </div>
    <div class="col-lg-2 col-md-6">
    
    <div class="footer-widget footer-menu">
    <h4 class="footer-title">Download</h4>
    <ul>
    <li>
    <a href="#"><img src="assets/img/icons/icon-apple.svg" alt="Apple"></a>
    </li>
    <li>
    <a href="#"><img src="assets/img/icons/google-icon.svg" alt="Google"></a>
    </li>
    </ul>
    </div>
    
    </div>
    </div>
    </div>
    
    </div>
    
    <div class="footer-bottom">
    <div class="container">
    
    <div class="copyright">
    <div class="row align-items-center">
    <div class="col-md-6">
    <div class="copyright-text">
    <p class="mb-0">&copy; 2023 DreamSports - All rights reserved.</p>
    </div>
    </div>
    <div class="col-md-6">
    
    <div class="dropdown-blk">
    <ul class="navbar-nav selection-list">
    <li class="nav-item dropdown">
    <div class="lang-select">
    <span class="select-icon"><i class="feather-globe"></i></span>
    <select class="select">
    <option>English (US)</option>
    <option>UK</option>
    <option>Japan</option>
    </select>
    </div>
    </li>
    <li class="nav-item dropdown">
    <div class="lang-select">
    <span class="select-icon"></span>
    <select class="select">
    <option>$ USD</option>
    <option>$ Euro</option>
    </select>
    </div>
    </li>
    </ul>
    </div>
    
    </div>
    </div>
    </div>
    
    </div>
    </div>
    
    </footer>