<app-navbar></app-navbar>
<div class="main-wrapper">


<div class="breadcrumb breadcrumb-list mb-0">
        <div class="container">
            <h1 class="text-white"><br></h1>
        </div>
    </div>

        


    <div class="content court-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-detail-group">
                        <div class="card ">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="file-upload-text">
                                            <div class="file-upload">
                                                <img src="assets/img/icons/img-icon.svg" class="img-icon"
                                                    alt="Upload">
                                                <p>Upload Photo</p>
                                                <span>
                                                    <i class="feather-edit-3"></i>
                                                    <input type="file" id="file-input">
                                                </span>
                                            </div>
                                            <h5>Upload a logo with a minimum size of 150 * 150 pixels (JPG, PNG,
                                                SVG).</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="input-space">
                                            <label class="form-label">Sujet</label>
                                            <input type="text" class="form-control" id="name"
                                                placeholder="Enter Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="input-space">
                                            <label class="form-label">Date de Creation</label>
                                            <input type="date" class="form-control" id="email"
                                                placeholder="Enter Email Address">
                                        </div>
                                    </div>
                                 
                                    <div class="col-lg-12 col-md-12">
                                        <div class="info-about">
                                            <label for="comments" class="form-label">Contenu</label>
                                            <textarea class="form-control" id="comments" rows="3"
                                                placeholder="About"></textarea>
                                        </div>
                                    </div>
                                 
                                </div>
                            </form>
                        </div>
                        <div class="save-changes text-end">
                            <a href="javascript:;" class="btn btn-primary reset-profile">Reset</a>
                            <a href="javascript:;" class="btn btn-secondary save-profile">Save Change</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   
</div>
<app-footer></app-footer>
