<app-navbar></app-navbar>
<div class="main-wrapper">


<div class="breadcrumb breadcrumb-list mb-0">
        <div class="container">
            <h1 class="text-white"><br><br><br></h1>
        </div>
    </div>

        


    <div class="content court-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-detail-group">
                        <div class="card ">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="file-upload-text">
                                            <div class="file-upload">
                                                <img src="assets/img/icons/img-icon.svg" class="img-fluid"
                                                    alt="Upload">
                                                <p>Upload Photo</p>
                                                <span>
                                                    <i class="feather-edit-3"></i>
                                                    <input type="file" id="file-input">
                                                </span>
                                            </div>
                                            <h5>Upload a logo with a minimum size of 150 * 150 pixels (JPG, PNG,
                                                SVG).</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="input-space">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control" id="name"
                                                placeholder="Enter Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="input-space">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control" id="email"
                                                placeholder="Enter Email Address">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="input-space">
                                            <label class="form-label">Phone Number</label>
                                            <input type="text" class="form-control" id="phone"
                                                placeholder="Enter Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="info-about">
                                            <label for="comments" class="form-label">Information about You</label>
                                            <textarea class="form-control" id="comments" rows="3"
                                                placeholder="About"></textarea>
                                        </div>
                                    </div>
                                    <div class="address-form-head">
                                        <h4>Address</h4>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="input-space">
                                            <label class="form-label">Address</label>
                                            <input type="text" class="form-control" id="address"
                                                placeholder="Enter Address">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="input-space">
                                            <label class="form-label">State</label>
                                            <input type="text" class="form-control" id="state"
                                                placeholder="Enter State">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="input-space">
                                            <label class="form-label">City</label>
                                            <input type="text" class="form-control" id="city"
                                                placeholder="Enter City">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="input-space">
                                            <label class="form-label">Country</label>
                                            <select class="select">
                                                <option>Country</option>
                                                <option>Texas</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="input-space mb-0">
                                            <label class="form-label">Zipcode</label>
                                            <input type="text" class="form-control" id="zipcode"
                                                placeholder="Enter Zipcode">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="save-changes text-end">
                            <a href="javascript:;" class="btn btn-primary reset-profile">Reset</a>
                            <a href="javascript:;" class="btn btn-secondary save-profile">Save Change</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   
</div>
<app-footer></app-footer>
