<p>list-requests works!</p>
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>All requests</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">requestId</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">reqDate</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">loanAmnt</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">nbrMonth</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">nbrYears</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">garantorFile</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">typeAmrt</th>
                    <th class="text-secondary opacity-7">action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of requests">
                        <td>{{r.requestId}}</td>
                        <td>{{r.status}}</td>
                        <td>{{r.reqDate}}</td>
                        <td>{{r.loanAmnt}}</td>
                        <td>{{r.nbrMonth}}</td>
                        <td>{{r.nbrYears}}</td>
                        <td>{{r.garantorFile}}</td>
                        <td>{{r.typeAmrt}}</td>
                        <td>
                            <button> edit </button>
                            <button> delete </button>
                        </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    
 