<div class="row">
    <div class="col-12 col-lg-6">
      <div class="card radius-15">
          <div class="card-body">
              <div class="d-flex align-items-center">
                  <div>
                      <h5 class="mb-0">Revenue By Device</h5>
                  </div>
                  <div class="dropdown ms-auto">
                      <div class="cursor-pointer font-24 dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown"><i class="bx bx-dots-horizontal-rounded"></i>
                      </div>
                      <div class="dropdown-menu dropdown-menu-right">	<a class="dropdown-item" href="javascript:;">Action</a>
                          <a class="dropdown-item" href="javascript:;">Another action</a>
                          <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Something else here</a>
                      </div>
                  </div>
              </div>
              <div id="chart2"></div>
              <div class="legends">
                  <div class="row">
                      <div class="col-12 col-lg-5">
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="text-secondary"><i class='bx bxs-circle font-13 text-primary-blue me-2'></i>Desktop</div>
                              <div>$850.04</div>
                              <div class="text-secondary">64.4%</div>
                          </div>
                          <div class="my-2"></div>
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="text-secondary"><i class='bx bxs-circle font-13 text-shineblue me-2'></i>Mobile</div>
                              <div>$755.08</div>
                              <div class="text-secondary">48.6%</div>
                          </div>
                      </div>
                      <div class="col-12 col-lg-2">
                          <div class="vertical-separater"></div>
                      </div>
                      <div class="col-12 col-lg-5">
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="text-secondary"><i class='bx bxs-circle font-13 text-primary me-2'></i>Tablet</div>
                              <div>$687.03</div>
                              <div class="text-secondary">24.7%</div>
                          </div>
                          <div class="my-2"></div>
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="text-secondary"><i class='bx bxs-circle font-13 text-red me-2'></i>Unknown</div>
                              <div>$142.07</div>
                              <div class="text-secondary">14.8%</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card radius-15">
          <div class="card-body">
              <div class="d-flex align-items-center">
                  <div>
                      <h5 class="mb-0">Traffic</h5>
                  </div>
                  <div class="dropdown ms-auto">
                      <div class="cursor-pointer font-24 dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown"><i class="bx bx-dots-horizontal-rounded"></i>
                      </div>
                      <div class="dropdown-menu dropdown-menu-right">	<a class="dropdown-item" href="javascript:;">Action</a>
                          <a class="dropdown-item" href="javascript:;">Another action</a>
                          <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Something else here</a>
                      </div>
                  </div>
              </div>
              <div class="row mt-3 g-3">
                  <div class="col-12 col-lg-6">
                      <div class="card radius-15 border shadow-none">
                          <div class="card-body">
                              <div class="d-flex align-items-center">
                                  <div>
                                      <p class="mb-0">Store Visits</p>
                                  </div>
                                  <div class="ms-auto text-success"><span>+22%</span>
                                  </div>
                              </div>
                              <h4 class="mb-0">8950</h4>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-lg-6">
                      <div class="card radius-15 border shadow-none">
                          <div class="card-body">
                              <div class="d-flex align-items-center">
                                  <div>
                                      <p class="mb-0">Visitors</p>
                                  </div>
                                  <div class="ms-auto text-purple"><span>-24%</span>
                                  </div>
                              </div>
                              <h4 class="mb-0">1520</h4>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="chart3"></div>
          </div>
      </div>
  </div>
  </div><!--end row-->