<!-- found in home in the featured -->
<section class="section featured-venues">
    <div class="container">
        <div class="section-heading aos" >
            <h2>Featured <span>Venues</span></h2>
            <p class="sub-title">Advanced sports venues offer the latest facilities, dynamic and unique
                environments for enhanced badminton performance.</p>
        </div>
        <div class="row">
            <div class="featured-slider-group ">
                <div class="owl-carousel featured-venues-slider owl-theme">

                    <div class="featured-venues-item aos" >
                        <div class="listing-item mb-0">
                            <div class="listing-img">
                                <a href="venue-details.html">
                                    <img src="assets/img/venues/venues-01.jpg" alt="Venue">
                                </a>
                                <div class="fav-item-venues">
                                    <span class="tag tag-blue">Featured</span>
                                    <h5 class="tag tag-primary">$450<span>/hr</span></h5>
                                </div>
                            </div>
                            <div class="listing-content">
                                <div class="list-reviews">
                                    <div class="d-flex align-items-center">
                                        <span class="rating-bg">4.2</span><span>300 Reviews</span>
                                    </div>
                                    <a href="javascript:void(0)" class="fav-icon">
                                        <i class="feather-heart"></i>
                                    </a>
                                </div>
                                <h3 class="listing-title">
                                    <a href="venue-details.html">Sarah Sports Academy</a>
                                </h3>
                                <div class="listing-details-group">
                                    <p>Elevate your athletic journey at Sarah Sports Academy, where excellence
                                        meets opportunity.</p>
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="feather-map-pin"></i>Port Alsworth, AK
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="feather-calendar"></i>Next Availablity : <span
                                                    class="primary-text">15 May 2023</span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="listing-button">
                                    <div class="listing-venue-owner">
                                        <a class="navigation" href="coach-detail.html">
                                            <img src="assets/img/profiles/avatar-01.jpg" alt="Venue">Mart Sublin
                                        </a>
                                    </div>
                                    <a href="venue-details.html" class="user-book-now"><span><i
                                                class="feather-calendar me-2"></i></span>Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="featured-venues-item aos" >
                        <div class="listing-item mb-0">
                            <div class="listing-img">
                                <a href="venue-details.html">
                                    <img src="assets/img/venues/venues-02.jpg" class="img-fluid" alt="Venue">
                                </a>
                                <div class="fav-item-venues">
                                    <span class="tag tag-blue">Top Rated</span>
                                    <h5 class="tag tag-primary">$200<span>/hr</span></h5>
                                </div>
                            </div>
                            <div class="listing-content">
                                <div class="list-reviews">
                                    <div class="d-flex align-items-center">
                                        <span class="rating-bg">5.0</span><span>150 Reviews</span>
                                    </div>
                                    <a href="javascript:void(0)" class="fav-icon">
                                        <i class="feather-heart"></i>
                                    </a>
                                </div>
                                <h3 class="listing-title">
                                    <a href="venue-details.html">Badminton Academy</a>
                                </h3>
                                <div class="listing-details-group">
                                    <p>Unleash your badminton potential at our premier Badminton Academy, where
                                        champions are made.</p>
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="feather-map-pin"></i>Sacramento, CA
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="feather-calendar"></i>Next Availablity : <span
                                                    class="primary-text">15 May 2023</span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="listing-button">
                                    <div class="listing-venue-owner">
                                        <a class="navigation" href="coach-detail.html">
                                            <img src="assets/img/profiles/avatar-02.jpg" alt="Venue">Rebecca
                                        </a>
                                    </div>
                                    <a href="venue-details.html" class="user-book-now"><span><i
                                                class="feather-calendar me-2"></i></span>Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="featured-venues-item aos" >
                        <div class="listing-item mb-0">
                            <div class="listing-img">
                                <a href="venue-details.html">
                                    <img src="assets/img/venues/venues-03.jpg" class="img-fluid" alt="Venue">
                                </a>
                                <div class="fav-item-venues">
                                    <h5 class="tag tag-primary">$350<span>/hr</span></h5>
                                </div>
                            </div>
                            <div class="listing-content">
                                <div class="list-reviews">
                                    <div class="d-flex align-items-center">
                                        <span class="rating-bg">4.7</span><span>120 Reviews</span>
                                    </div>
                                    <a href="javascript:void(0)" class="fav-icon">
                                        <i class="feather-heart"></i>
                                    </a>
                                </div>
                                <h3 class="listing-title">
                                    <a href="venue-details.html">Manchester Academy</a>
                                </h3>
                                <div class="listing-details-group">
                                    <p>Manchester Academy: Where dreams meet excellence in sports education and
                                        training.</p>
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="feather-map-pin"></i>Guysville, OH
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="feather-calendar"></i>Next Availablity : <span
                                                    class="primary-text">16 May 2023</span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="listing-button">
                                    <div class="listing-venue-owner">
                                        <a class="navigation" href="coach-detail.html">
                                            <img src="assets/img/profiles/avatar-03.jpg" alt="Venue">Andrew
                                        </a>
                                    </div>
                                    <a href="venue-details.html" class="user-book-now"><span><i
                                                class="feather-calendar me-2"></i></span>Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="featured-venues-item aos" >
                        <div class="listing-item mb-0">
                            <div class="listing-img">
                                <a href="venue-details.html">
                                    <img src="assets/img/venues/venues-02.jpg" class="img-fluid" alt="Venue">
                                </a>
                                <div class="fav-item-venues">
                                    <span class="tag tag-blue">Featured</span>
                                    <h5 class="tag tag-primary">$450<span>/hr</span></h5>
                                </div>
                            </div>
                            <div class="listing-content">
                                <div class="list-reviews">
                                    <div class="d-flex align-items-center">
                                        <span class="rating-bg">4.5</span><span>300 Reviews</span>
                                    </div>
                                    <a href="javascript:void(0)" class="fav-icon">
                                        <i class="feather-heart"></i>
                                    </a>
                                </div>
                                <h3 class="listing-title">
                                    <a href="venue-details.html">ABC Sports Academy</a>
                                </h3>
                                <div class="listing-details-group">
                                    <p>Unleash your badminton potential at our premier ABC Sports Academy, where
                                        champions are made.</p>
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="feather-map-pin"></i>Little Rock, AR
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="feather-calendar"></i>Next Availablity : <span
                                                    class="primary-text">17 May 2023</span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="listing-button">
                                    <div class="listing-venue-owner">
                                        <a class="navigation" href="coach-detail.html">
                                            <img src="assets/img/profiles/avatar-04.jpg" alt="Venue">Mart Sublin
                                        </a>
                                    </div>
                                    <a href="venue-details.html" class="user-book-now"><span><i
                                                class="feather-calendar me-2"></i></span>Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="view-all text-center aos" >
            <a href="listing-grid.html" class="btn btn-secondary d-inline-flex align-items-center">View All
                Featured<span class="lh-1"><i class="feather-arrow-right-circle ms-2"></i></span></a>
        </div>

    </div>
</section>