<div class="row">
    <div class="col-12 col-lg-4 d-flex">
        <div class="card radius-15 w-100">
            <div class="card-body">
                <div class="d-lg-flex align-items-center">
                    <div>
                        <h5 class="mb-4">Top Categories</h5>
                    </div>
                    <div class="dropdown ms-auto">
                        <div class="cursor-pointer font-24 dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown"><i class="bx bx-dots-horizontal-rounded"></i>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right">	<a class="dropdown-item" href="javascript:;">Action</a>
                            <a class="dropdown-item" href="javascript:;">Another action</a>
                            <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="progress-wrapper mb-4">
                    <p class="mb-1">Electronics <span class="float-end">45%</span>
                    </p>
                    <div class="progress radius-15" style="height:5px;">
                        <div class="progress-bar" role="progressbar" style="width: 45%"></div>
                    </div>
                </div>
                <div class="progress-wrapper mb-4">
                    <p class="mb-1">Clothing <span class="float-end">55%</span>
                    </p>
                    <div class="progress radius-15" style="height:5px;">
                        <div class="progress-bar bg-voilet" role="progressbar" style="width: 55%"></div>
                    </div>
                </div>
                <div class="progress-wrapper mb-4">
                    <p class="mb-1">Furniture <span class="float-end">64%</span>
                    </p>
                    <div class="progress radius-15" style="height:5px;">
                        <div class="progress-bar bg-red-light" role="progressbar" style="width: 64%"></div>
                    </div>
                </div>
                <div class="progress-wrapper mb-4">
                    <p class="mb-1">Accessories <span class="float-end">78%</span>
                    </p>
                    <div class="progress radius-15" style="height:5px;">
                        <div class="progress-bar bg-sunset" role="progressbar" style="width: 78%"></div>
                    </div>
                </div>
                <div class="progress-wrapper mb-4">
                    <p class="mb-1">Jewellery <span class="float-end">82%</span>
                    </p>
                    <div class="progress radius-15" style="height:5px;">
                        <div class="progress-bar bg-wall" role="progressbar" style="width: 82%"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <p class="mb-1">Mobiles <span class="float-end">89%</span>
                    </p>
                    <div class="progress radius-15" style="height:5px;">
                        <div class="progress-bar bg-dark" role="progressbar" style="width: 89%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8 d-flex">
        <div class="card radius-15 w-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                    <div>
                        <h5 class="mb-0">Sales Forecast</h5>
                    </div>
                    <div class="dropdown ms-auto">
                        <div class="cursor-pointer text-dark font-24 dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown"><i class="bx bx-dots-horizontal-rounded"></i>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right">	<a class="dropdown-item" href="javascript:;">Action</a>
                            <a class="dropdown-item" href="javascript:;">Another action</a>
                            <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12 col-lg-6">
                        <div class="card radius-15 border shadow-none mb-0">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="">
                                        <p class="text-secondary mb-0">Revenue</p>
                                        <h4 class="mb-0 ">+24.5%</h4>
                                    </div>
                                    <div class="fs-2 ms-auto">
                                        <i class='bx bx-wallet-alt'></i>
                                    </div>
                                </div>
                                <div id="chart4" class="ms-auto mt-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card radius-15 border shadow-none mb-0">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="">
                                        <p class="text-secondary mb-0">Net Profit</p>
                                        <h4 class="mb-0">-2.7%</h4>
                                    </div>
                                    <div class="fs-2 ms-auto">
                                        <i class='bx bx-bar-chart-alt-2' ></i>
                                    </div>
                                </div>
                                <div id="chart5" class="ms-auto mt-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card radius-15 border shadow-none mb-0">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="">
                                        <p class="text-secondary mb-0">Orders</p>
                                        <h4 class="mb-0">+32.6%</h4>
                                    </div>
                                    <div class="fs-2 ms-auto">
                                        <i class='bx bx-shopping-bag'></i>
                                    </div>
                                </div>
                                <div id="chart6" class="ms-auto mt-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card radius-15 border shadow-none mb-0">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="">
                                        <p class="text-secondary mb-0">Visitors</p>
                                        <h4 class="mb-0">+60.2%</h4>
                                    </div>
                                    <div class="fs-2 ms-auto">
                                        <i class='bx bx-group'></i>
                                    </div>
                                </div>
                                <div id="chart7" class="ms-auto mt-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>